*{
    padding: 0;
    margin: 0;
}

body{
    font-family: Teko, sans-serif;
    background-color: navajowhite;
    height: 100vh;
}

header{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.name a{
    font-size: 35px;
    color: black;
    text-align: center;
    text-decoration: none;
}
.name a:hover{
    transition: ease-in-out 0.25s;
    text-shadow: 5px 5px white;
    cursor: pointer ;
}

.nav{
    width: 500px;
    display: flex;
    justify-content: space-around;
}

.nav a{
    color: black;
    text-decoration: none;
    font-size: 25px;
    display: flex;
    transition: ease 0.25s;
}

.nav a:hover{
    letter-spacing: 2px;
    text-shadow: 5px 5px white;
}

section{
    text-align: center;
    margin: 40px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.question{
    font-size: 30px;
    text-align: center;
}

.answer{
    font-size: 25px;
    max-width: 500px;
    line-height: 40px;
    text-align: left;
}

.flex-wrapper{
    display: flex;
    padding: 100px;
    justify-content: center;
    flex-wrap: wrap;
}

.container-1{
    max-width: 350px;
    min-width: 350px;
    min-height: 500px;
    padding: 15px;
    margin: 15px;
    border: 2px solid white;
}

.box-container h3{
    padding: 15px;
    font-size: 20px;
}

.box-container p{
    font-size: 18px;
}

.container-1 .logo{
    max-height: 35px;
}