*{
    padding: 0;
    margin: 0;
}

body{
     font-family: Teko, sans-serif;
     background-color: #373854 ;
     height: 100vh;
     background-image: url("webSITE.png");
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
     max-width: 100%;
     max-height: 100%;
}

header{
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: space-around;
    background-color: black;
    border-bottom: 2px black solid;
}
.name{
    font-size: 2.5vw;
    color: White;
    text-align: center;
}
.name a{
    text-decoration: none;
    color: white;
    transition: ease 0.25s;    
}
.name a:hover{

    color: #06013e;
    cursor: pointer ;
}

.nav{
    display: flex;
    justify-content: space-around;
}

.nav a{
    color: White;
    text-decoration: none;
    font-size: 1.6vw;
    margin: 25px;
    display: flex;
    transition: ease 0.25s;    
}
.nav-drop{
    display: none;
}

.nav a:hover{
    color: #06013e;
}

section{
    display: flex;
    justify-content: center;

}

.wrap{
    border-radius: 15px;
    display: flex;
    text-align: center;
    flex-direction: column;
    max-width: 1000px;

}

.wrap p{
    font-size: 2vw;
    line-height: 75px;
    text-align: center;

}

.introduction span{
    transition: ease 1s;
    color: White;
    font-size: 11vw;
    text-shadow: 3px 0 black, 0 2px black, 3px 0 black, 0 -1px black;
    font-family: Teko, sans-serif;
}
.intro-paragraph{
    line-height: 40px;
}
.intro-paragraph p
{
    color: White;
}
.intro-paragraph span{
    color: darkslategrey;
}

footer{
    display: flex;
    flex-direction: column;
    text-align: center;
    height: 100px;
    justify-content: space-evenly;
    align-items: center;
}

footer h3{
    font-size: 23px;
}

.social-media{
    display: flex;
    justify-content: space-evenly;
    align-content: center;
}

.social-media i{
    margin: 25px;
    font-size: 2vw;
    text-decoration: none;
    color: white;
    transition: ease 0.25s;
}

.social-media i:hover{
    color: #06013e;
}
.menu-items {
    display: none;
}
#check {
    display: none;
}
header .fa-bars{
    display: none;
}



@media only screen and (max-width: 1024px){
    .nav a{
        font-size: 3vw;
    }

    .social-media i{
        font-size: 3.5vw;
    }

    .intro-paragraph p{
        font-size: 2em;
    }

    .introduction h2 span{
        font-size: 15vw;
    }

}

@media only screen and (max-width: 425px){
    .name {
        font-size: 6vw;
    }

    .nav {
        display: none;
    }
    header .fa-bars{
        display: contents;
    }

    .nav-drop {
        display: flex;
        flex-direction: column;
        /* Additional styling for positioning and background color */
        /* Adjust styles as needed */
        padding: 10px;
    }

    .checkbtn {
        font-size: 15px;
        color: white;
        float: right;
        line-height: 80px;
        cursor: pointer;
    transition: .55s ease-in-out;        
    }

    /* Show/hide the toggle button */
    #check {
        display: none;
    }

    .menu-items a{
        color: white;
        text-decoration: none;
        padding: 20px;
        font-size: 6vw;
        transition: .5s ease;
    }

    .menu-items a:hover{
        color: black;
        letter-spacing: 1px;;
    }
    
    .social-media i{
        font-size:5vw;
    }
/* Show menu items when checkbox is checked */
#check:checked ~ .menu-items{
    transition: 1s ease;
    display: flex;
    flex-direction: column;
    position: fixed;
    top: 60px; /* Adjust position as needed */
    background-color: black;
    color: white;
    text-decoration: none;
    text-align: center;

    /* Additional styling for the dropdown */
    /* Adjust styles as needed */
    margin-top: 10px;
    width: 100%;
}
}    